
    <div class="container-fluid" style="align-self: center; width: 400px;">
        <p class="alert alert-warning" [hidden]="passengerHadTickets">
            Denne passasjeren har registrerte billetter! Slett billettene først.
        </p>
    </div>
<div class="container list" style="display: flex;">
    <div *ngIf="loading">Laster passasjerer....</div>
    <div class="container" style="margin-right: 20px;">
    <h3>Passasjerer</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Fornavn</th>
                    <th>Etternavn</th>
                    <th>Epost</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let passenger of allPassengers">
                <tr>
                    <td>{{passenger.firstname}}</td>
                    <td>{{passenger.lastname}}</td>
                    <td>{{passenger.email}}</td>
                    <td>{{passenger.passengerType}}</td>
                    <td><button class="btn btn-danger" (click)="delete(passenger.passengerID)">Slett</button></td>
                    <td><button class="btn btn-success" [routerLink]="['/passengerEdit', passenger.passengerID]">Endre</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" style="margin-top: 10px; margin-left: 20px;">
        <h3>Opprett ny passasjer</h3>
        <div >
            <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Fornavn</label>
                    <input class="form-control" formControlName="firstname" />
                    <p class="alert alert-warning" [hidden]="skjema.controls.firstname.valid || (skjema.controls.firstname.pristine && !submitted)">
                        Fornavn er obligatorisk.
                    </p>
                </div>
                <div class="form-group">
                    <label>Etternavn</label>
                    <input class="form-control" formControlName="lastname" />
                    <p class="alert alert-warning" [hidden]="skjema.controls.lastname.valid || (skjema.controls.lastname.pristine && !submitted)">
                        Etternavn er obligatorisk.
                    </p>
                </div>
                <div class="form-group">
                    <label>Epost</label>
                    <input class="form-control" formControlName="email" />
                    <p class="alert alert-warning" [hidden]="skjema.controls.email.valid || (skjema.controls.email.pristine && !submitted)">
                        Epost er obligatorisk.
                    </p>
                </div>
                <div class="form-group">
                    <label>Type passasjer</label>
                    <select class="form-control" formControlName="passengerTypeID">
                        <option *ngFor="let type of allPassengerTypes" [value]="type.passengerTypeID">{{type.passengerTypeName}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <button type="submit" [disabled]="!skjema.valid" class="btn btn-primary">Registrer passasjer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="text-align: center; margin-top: 20px">
    <button class="btn btn-primary" routerLink="/admin">Tilbake</button>
</div>

