<div class="container">
  <div class="col-md4">
    <h2 style="margin-top: 20px;" >Reiser</h2>
    <div class="list">
        <div class="table-responsive list">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Avreisehavn</th>
                <th>Ankomsthavn</th>
                <th>Avreisetidspunkt</th>
                <th>Pris</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let route of allRoutes">
              <tr>
                <td>{{route.portFrom}}</td>
                <td>{{route.portTo}}</td>
                <td>{{route.departure}}</td>
                <td>{{route.routePrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
<div class="form-row">
  <button class="btn btn-default" routerLink="/admin">Tilbake</button>
</div>
