<div class="container">
  <div class="col-md4">
      <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
          <h3>Endre billettvalg</h3>
          <input class="form-control" formControlName="id" type="hidden" />
          <input class="form-control" formControlName="passengerID" type="hidden" />

          <div class="form-group">
              <label>Fornavn</label>
              <input class="form-control" disabled formControlName="firstname" />
          </div>

          <div class="form-group">
              <label>Etternavn</label>
              <input class="form-control" disabled formControlName="lastname" />
          </div>

          <div class="form-group">
              <label>Epost</label>
              <input class="form-control" disabled formControlName="email" />
          </div>

          <div class="form-group">
              <label>Reisende</label>
              <input class="form-control" disabled formControlName="passengerType" />
          </div>

          <div class="form-group">
              <label>Reisevei</label>
              <select class="form-control" formControlName="routeID" (change)="onRouteChange()">
                  <option *ngFor="let route of routes" [value]="route.routeID">{{route.portFrom}} - {{route.portTo}} </option>
              </select>
          </div>
          
          <div class="form-group">
              <label>Type reise</label>
              <select class="form-control" formControlName="travelTypeID">
                  <option *ngFor="let travelType of allTtypes" [value]="travelType.travelTypeID">{{travelType.travelTypeName}}</option>
              </select>
          </div>

          <div class="form-group">
              <label>Avgang</label>
              <input class="form-control" formControlName="departure" disabled/>
          </div>

          <div class="form-group">
              <label>Dato</label>
              <input class="form-control" formControlName="ticketDate" />
          </div>

          <div class="form-group">
              <label>Price</label>
              <input class="form-control" formControlName="price" disabled/>
          </div>

          <div class="form-group">
              <button type="submit" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
              <button class="btn btn-default" routerLink="/ticketList">Tilbake</button>
          </div>
      </form>
   </div>
</div>

