
        </div>
    </div>
    <div style="margin-top: 10px;">
        <h5 style="text-align: center; padding-top:25px; padding-bottom: 25px">Kundetype</h5>
        <div>
            <form [formGroup]="skjema2">
                <div formGroupName="passengerType">
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Rabatt</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let passengerType of allPtypes">
                            <tr>
                                <td style="display: contents"><input type="hidden" class="form-control" formControlName="passengerTypeID" value="{{passengerType.passengerTypeID}}" /></td>
                                <td><input type="text" class="form-control" formControlName="passengerTypeName" value="{{passengerType.passengerTypeName}}" /></td>
                                <td><input type="text" class="form-control" formControlName="discount" value="{{passengerType.discount}}" /></td>
                                <td><button class="btn btn-danger" (click)="deleteOnePtype(passengerType.passengerTypeID)">Slett</button></td>
                                <td><button *ngIf="passengerType.isNew; else enabled" class="btn btn-primary" (click)="addNewPassengertype()">Lagre</button></td>
                            </tr>
                        </tbody>


            </div>
        </form>
        <button *ngIf="saveT; else enabled" class="btn btn-primary btn-add" (click)="addNewFieldTtype()">Legg til</button>
    </div>
</div>

    <div style="text-align: center; margin-top: 20px">
        <button class="btn btn-primary" routerLink="/admin">Tilbake</button>
    </div>


