  <div class="container">
    <h1>Adminside</h1>
    <div>
        <div class="col-md-12">
            <div *ngIf="loading">Laster billetter....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Kontaktinfo</th>
                        <th>Type</th>
                        <th>Rute</th>
                        <th>Avgang</th>
                        <th>Dato</th>
                        <th>Pris</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let ticket of allTickets">
                    <tr>
                        <td>{{ticket.TicketPassenger}}</td>
                        <td>{{ticket.TicketTravelType}}</td>
                        <td>{{ticket.TicketRoute}}</td>
                        <td>{{ticket.TicketDepature}}</td>
                        <td>{{ticket.TicketDate}}</td>
                        <td>{{ticket.TicketPrice}}</td>
                        <td><button class="btn btn-danger" (click)="deleteOneTicket(ticket.id)">Slett</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/adminEdit', ticket.id]">Endre</button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" routerLink="/admin">Lagre kunde</button>
        </div>
    </div>
</div>

