  <div class="container-fluid">
    <div class="flex">
        <div class="admin-button-wrapper flex-box">
            <button class="btn panelbtn" routerLink="/ticketList">Billetter</button>
        </div>
        <div class="admin-button-wrapper flex-box">
            <button class="btn panelbtn" routerLink="/passengerList">Passasjerer</button>
        </div>
        <div class="admin-button-wrapper flex-box">
            <button class="btn panelbtn" routerLink="/routeList">Ruter</button>
        </div>
        <div class="admin-button-wrapper flex-box">
            <button class="btn panelbtn" routerLink="/settings">Innstillinger</button>
        </div>
    </div>
                      
</div>

