<div class="container">
  <div class="col-md4">
    <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
      <input class="form-control" formControlName="id" type="hidden" />

      <div class="form-group">
        <label>Fornavn</label>
        <input class="form-control" formControlName="ticketPassenger" />
      </div>

      <div class="form-group">
        <label>Etternavn</label>
        <input class="form-control" formControlName="ticketTravelType" />

      </div>

      <div class="form-group">
        <label>Epost</label>
        <input class="form-control" formControlName="ticketRoute" />
      </div>


      <div class="form-group">
        <label>Rute</label>
        <input class="form-control" formControlName="ticketDeparture" />
      </div>


      <div class="form-group">
        <label>Dato</label>
        <input class="form-control" formControlName="ticketDate" />
      </div>


      <div class="form-group">
        <label>Antall</label>
        <input class="form-control" formControlName="ticketPrice" />
      </div>

    </form>
</div>

     </div>

