<div class="container">
  <h1>Innloggingsside</h1>
  <div style="padding-top:2em;padding-bottom:2em">
    <div *ngIf="loading">Laster siden....</div>
    <form [formGroup]="LoginForm">
      <fieldset class="form-group">
        <legend class="sr-only">Innloggingsskjema</legend>

        <div class="form-row" style="padding-bottom:1em">
          <div class="col-md-1">
            <label for="username">Brukernavn</label>
          </div>
          <div class="col-md-3">
            <input type="text" id="username" class="form-control" formControlName="username" />
          </div>
        </div>

        <div class="form-row" style="padding-bottom:1em">
          <div class="col-md-1">
            <label for="password">Passord</label>
          </div>
          <div class="col-md-3">
            <input type="password" id="password" class="form-control" formControlName="password" />
          </div>
        </div>

        <div class="form-row">
            <button class="btn btn-primary" (click)="onSubmit()">Logg inn</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="container-fluid" style="align-self: center; width: 400px;">
    <p class="alert alert-danger" [hidden]="!wrongLogin">
        Brukernavn eller passord er feil!
    </p>
</div>
</div>
