<div class="container container-login">
        <h1 class="fancy" style="padding-top:1em; padding-left: 5em;">Innlogging</h1>
        <div style="padding-top:2em;padding-bottom:2em">
            <div *ngIf="loading">Laster siden....</div>
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                <fieldset class="form-group">
                    <legend class="sr-only">Innloggingsskjema</legend>

                    <div class="form-row" style="padding-bottom:1em">
                        <div class="col-md-1">
                            <label for="username">Brukernavn</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="username" class="form-control" formControlName="username" />
                        </div>
                        <div class="col-md-2">
                            <div style="padding-bottom:1em;padding-left:1em" *ngIf="this.LoginForm.controls.username.status=='INVALID'">
                                Obligatorisk
                            </div>
                        </div>
                    </div>

                    <div class="form-row" style="padding-bottom:1em">
                        <div class="col-md-1">
                            <label for="password">Passord</label>
                        </div>
                        <div class="col-md-3">
                            <input type="password" id="password" class="form-control" formControlName="password" />
                        </div>
                        <div class="col-md-2">
                            <div style="padding-bottom:1em;padding-left:1em" *ngIf="this.LoginForm.controls.password.status=='INVALID'">
                                Mellom 6 og 15 siffer
                            </div>
                        </div>
                    </div>

                    <div class="form-row" style="padding-bottom:1em;padding-left:6em">
                        <button type="submit" class="btn btn-primary btn-custom" [disabled]="!LoginForm.invalid" routerLink="/admin">Logg inn</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>