
<div class="container container-login">
        <h1 class="fancy" style="padding-top:1em; padding-left: 5em;">Innlogging</h1>
        <div style="padding-top:2em;padding-bottom:2em">
            <div *ngIf="loading">Laster siden....</div>
            <form [formGroup]="LoginForm">
                <fieldset class="form-group">
                    <legend class="sr-only">Innloggingsskjema</legend>

                    <div class="form-row" style="padding-bottom:1em">
                        <div class="col-md-1">
                            <label for="username">Brukernavn</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="username" class="form-control" formControlName="username" />
                        </div>
                    </div>

                    <div class="form-row" style="padding-bottom:1em">
                        <div class="col-md-1">
                            <label for="password">Passord</label>
                        </div>
                        <div class="col-md-3">
                            <input type="password" id="password" class="form-control" formControlName="password" />
                        </div>

                    </div>

                    <div class="form-row" style="padding-bottom:1em;padding-left:6em">
                        <button class="btn btn-primary btn-custom" (click)="onSubmit()">Logg inn</button>
                    </div>
                </fieldset>
            </form>
        </div>
</div>
<div class="container-fluid" style="align-self: center; width: 400px;">
    <p class="alert alert-danger" [hidden]="!wrongLogin">
        Brukernavn eller passord er feil!
    </p>
</div>

